body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("../../public/img/todo_bg.jpg");
}

#container {
    display: grid;
    grid-template-columns: [line1] 30vw [line2] 20vw [line3] 30vw [line4] 20vw [line5];
    grid-template-rows: [line1] 20.5vh [line2] 8vh [line3] auto [line4] auto [line5];
    justify-content: center;
}

#log_out_b {
    grid-column-start: line4;
    grid-column-end: line5;
    grid-row-start: line1;
    grid-row-end: line2;
    padding: 10px;
    height: auto;
    width: 26vmin;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    background: rgba(129, 136, 127, 0.9);
    border-radius: 0.8rem;
    border: none;
    color:white;    
    justify-items: center;
    align-self: center;
}

#log_out_b:hover {
    background: rgba(129, 136, 127, 0.7);
}

.logo {
    grid-column-start: line4;
    grid-column-end: line5;
    grid-row-start: line1;
    grid-row-end: line2;
    width: 90%;
}

.logo > img {
    width: 90%;
    display: block;
}

aside {
    grid-column-start: line1;
    grid-column-end: line2;
    grid-row-start: line1; 
    grid-row-end: line5;
    background: rgba(255, 255, 255, 0.9);
    width: 28vw;
    height: 100vh;
    position: relative;
    padding-left: 2vw;
}

<<<<<<< HEAD
.three_buttons {
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
=======
.task_buttons {
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4vh;   
>>>>>>> master
}

#work_b{
    padding: 10px;
    height: auto;
    width: 26vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    background: rgba(59, 167, 255, 0.9);
    border-radius: 0.8rem;
    border: none;
    color:white;    
}

#work_b:hover {
    background: rgba(59, 167, 255, 0.7);
}

#home_b{
    padding: 10px;
    height: auto;
    width: 26vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    background: rgba(82, 255, 59, 0.8);
    border-radius: 0.8rem;
    border: none;
    color:white;    
}

#home_b:hover {
    background: rgba(82, 255, 59, 0.7);
}

#personal_b{
    padding: 10px;
    height: auto;
    width: 26vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    background: rgba(255, 203, 59, 0.9);
    border-radius: 0.8rem;
    border: none;
    color:white;
}

#personal_b:hover {
    background: rgba(255, 203, 59, 0.7);
}

#all_tasks_b{
    padding: 10px;
    height: auto;
    width: 26vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    background: rgba(100, 15, 15, 0.9);
    border-radius: 0.8rem;
    border: none;
    color:white;
}

#all_tasks_b:hover {
    background: rgba(100, 15, 15, 0.7);
}

.add_b{
    height: 60px;
    width: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 6vh;
    background: rgba(255, 59, 85, 0.9);
    border-radius: 50%;
    border: none;
    color:white;
}

.add_b:hover {
    background: rgba(255, 59, 85, 0.7);
}

header {
    grid-column-start: line3;
    grid-column-end: line4;
    grid-row-start: line2; 
    grid-row-end: line3;
  
}

section {
    display: flex;
    grid-column-start: line2;
    grid-column-end: line5;
    grid-row-start: line3; 
    grid-row-end: line4;
    flex-wrap: wrap;
}

section ul {
    list-style: none;
<<<<<<< HEAD
}

section li {
    display: grid;
    grid-template-columns: 1fr 60px 60px;
    height: auto;
    width: 50vw;
    padding: 2vh;
    margin: 2vh;
    border: none;
    color: white;
    background: rgba(82, 255, 59, 0.8);
    border-radius: 0.8rem;
}

=======
}

section li {
    display: grid;
    grid-template-columns: 1fr 60px 60px;
    height: auto;
    width: 50vw;
    padding: 2vh;
    margin: 2vh;
    border: none;
    color: white;
    background: rgba(82, 255, 59, 0.8);
    border-radius: 0.8rem;
}

>>>>>>> master
section li a {
    justify-self: center;
    align-self: center;
}

section button {
   background: transparent;
   border: none;
}

.add_form {
<<<<<<< HEAD
    display: flex;
=======
    display: none;
>>>>>>> master
    flex-wrap: wrap;
    width: 40vw;
    height: 45vh;
    background: white;
    border: solid 1vh rgba(255, 59, 85, 0.9);
    border-radius: 0.8rem;
    position: absolute;
    transform: translateX(40vw) translateY(30vh);
    justify-content: center;
<<<<<<< HEAD
    /* display: none; */
=======
>>>>>>> master
}

.add_form p {
    padding-left: 5vw;
    padding-right: 5vw;
}

.add_select {
    width: 15vw;
    height: 6vh;
    margin-bottom: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 0.8rem;
    border: solid 1px rgba(255, 59, 85, 0.9);
<<<<<<< HEAD
}

.add_input {
    width: 30vw;
    height: 15vh; 
    border-radius: 0.8rem;
    border: solid 1px rgba(255, 59, 85, 0.9);
    margin: 1vh;
=======
    font-family: 'Montserrat', sans-serif;
}


.add_input {
    width: 30vw;
    height: 5vh; 
    border-radius: 0.8rem;
    border: solid 1px rgba(255, 59, 85, 0.9);
    margin: 1vh;
    padding: 1vh;
    font-family: 'Montserrat', sans-serif;
>>>>>>> master
}

.form_button {
    width: 10vw;
    height: 7vh;
    background: rgba(255, 59, 85, 0.9);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 0.8rem;
    margin: 1vh;
    margin-bottom: 2vh;
}